body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1 {
    font-size: 10vw;
}

h2 {
    font-size: 3vw;
}

article {
    min-height: 100vh;
    padding: 10vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.hero h1 {
   transform: scale(0);
   opacity: 0; 
   transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55), opacity 0.5s ease-in-out;
}

.hero.animated h1 {
    transform: scale(1);
    opacity: 1;
}

.content {
    align-items: flex-start;
}

.content > * {
    max-width: 40ch;
    margin: 0 auto;
}

.content h2, .content p {
    transform: translateY(100%);
    opacity: 0;

    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.content.animated h2, .content.animated p {
    transform: translateY(0%);
    opacity: 1;
}

.image img {
    opacity: 0;
    filter: blur(1rem);

    transition: opacity 1s ease-in-out, filter 1s ease-in-out;
}

.image.animated img {
    opacity: 1;
    filter: blur(0px);
}